name: Run PowerShell Script Analyzer

on:
  pull_request:

jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 2
        ref: ${{ github.event.pull_request.head.ref }}
    - name: PowerShell Script Analyzer
      shell: pwsh
      run: |
        Install-Module PSScriptAnalyzer -Scope CurrentUser -Force -Confirm:$false
        $ExpectedResults = @()
        $file = "./.github/workflows/psscriptanalyzer-expected-results.json"
        if((Test-Path $file)) {
            $ExpectedResults = Get-Content $file | ConvertFrom-Json
        } else {
            Write-Host "No psscriptanalyzer-expected-results.json file found, assuming no expected results. File: $file" 
        }

        $Results = Get-ChildItem -Recurse -Include *.psd1 | 
        ForEach-Object {Invoke-ScriptAnalyzer -Path ($_.FullName | Split-Path -Parent) -Recurse -ExcludeRule @(
          "PSAvoidTrailingWhitespace"
          "PSUseToExportFieldsInManifest"
          "PSAvoidUsingWriteHost"
        )} |
        Where-Object ScriptName -notlike "*.tests.*" # Ignore test files, as these do all kinds of crazy things that trigger warnings

        $IssuesFound = $false
        $Results | 
        Where-Object {!($ExpectedResults | Where-Object RuleName -eq $_.RuleName | Where-Object ScriptName -eq $_.ScriptName | Where-Object Line -eq $_.Line)} |
        ForEach-Object -Begin {"=================================`nThe following results were found that were not expected, and must either be fixed or added to psscriptanalyzer-expected-results.json:`n"} -Process {
            $IssuesFound = $true
            "$($PSStyle.Foreground.Yellow)============== " + $_.Severity + " ==============$($PSStyle.Reset)"
            $_.ScriptName + " (Line " + $_.Line + "):"
            $_.Message
            ""
            "If this issue is acceptable, add the following entry to psscriptanalyzer-expected-results.json:`n"
            [ordered] @{RuleName=$_.RuleName; ScriptName=$_.ScriptName; Line=$_.Line} | ConvertTo-Json -Depth 3
            ""

        } -End {}

        $ExpectedResults | 
        Where-Object {!($Results | Where-Object RuleName -eq $_.RuleName | Where-Object ScriptName -eq $_.ScriptName | Where-Object Line -eq $_.Line)} |
        ForEach-Object -Begin {"=================================`nThe following results were expected, but not found, and should therefore be removed from psscriptanalyzer-expected-results.json:`n"} -Process {
            $IssuesFound = $true
            [ordered] @{RuleName=$_.RuleName; ScriptName=$_.ScriptName; Line=$_.Line} | ConvertTo-Json -Depth 3
            ""
        } -End {"================================="}

        if($IssuesFound) {
            throw "PowerShell Script Analyzer found unexpected results."
        }