name: Publish Module

on:
  push:
    tags:
      - v*.*.*

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Publish Module to PowerShell Gallery
        shell: pwsh
        run: |
          $psd1 = Get-ChildItem -Recurse -Include *.psd1
          $psd1 | Import-PowerShellDataFile | Where-Object RequiredModules | Select-Object -ExpandProperty RequiredModules | Sort-Object -Unique | ForEach-Object {Install-Module -Scope CurrentUser -Force -Confirm:$false -Name $_}

          $psd1 |
          ForEach-Object {
            Test-ModuleManifest $_.FullName

            $ModulePath = Split-Path -Parent $_.FullName
            $ModuleName = $_.BaseName
            Write-Host "Publishing module $ModuleName"
            Publish-Module -Path $ModulePath -NuGetApiKey '${{ secrets.POWERSHELLGALLERY_API_KEY }}' -Verbose
          }